extends ../layout

block content

    a(href='/bicicletas') Volver    
    br
    br
    br
    h1 Modificar Bicicleta

    br
    br

    form(action="/bicicletas/"+aBici.id+"/update", method="post")
        label(for='id') Id:
        input#id(type='text' name='id' value=aBici.id)
        br
        label(for='color') Color:
        input#id(type='text' name='color' value=aBici.color)
        br
        label(for='modelo') Modelo:
        input#id(type='text' name='modelo' value=aBici.modelo)
        br
        label(for='lat') Latitud:
        input#id(type='text' name='lat' value=aBici.ubicacion[0])
        br
        label(for='lng') Altitud:
        input#id(type='text' name='lng' value=aBici.ubicacion[1])
        br
        br
        input(type="submit", value="Actualizar")